@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    height: 80px;
    z-index: 999;
    width: 100%;
}
  
.navbar .logo {
    width: 150px;
    height: 80px;
  
}

.navbar .logo img {
    width: 150px;
    height: 80px;
  
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: white;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 13px;
    border-radius: 3px;
    margin-top: 10px;
  
}

.navbar .menu li a.active,
.navbar .menu li a:hover{
    background-color: white;
    color: #27ae60;
}

.navbar .menu li a i{
    color: #055423;
}
.navbar .menu li a i:hover{
    color: #055423;
}
body{
    background-color: #2ecc71;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    height: 100%;
    padding-bottom: 60px;
    width: 100%;
}

#mainheader {
    margin-top: 30px;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 3em;
  }
h1 {
    color: #4caf50;
    padding: 0;
}
.container form{
    padding: 20px;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 5px;
    height: 100%;

}
.container form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form  .col{
    flex:1 1 250px ;
}
.container form  .title{
    font-size: 1.5em;
    padding-bottom: 5px; 
    margin-bottom: 10px;
    text-transform: uppercase;
}
.container form .inputBox{
    margin: 15px 0;
}
.container form span{
   margin-bottom: 5px;
   display: block;
}
.container form  img{
    width: 270px;
    height: 350px;
    
}
.container form  input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
    border-radius: 5px;

}
.container form  input:is(#cardname, #card, #year, #cvv){
    padding-left: 33px;

}

.container form  .inputBox input:focus{
    border: 1px solid #000;
}
.container form .flex{
    display: flex;
    gap: 15px;
}

.container form  .inputBox{
    margin-top: 5px;
}
.container form .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}
#but{
    display: flex;
    justify-content: center;
}
.container  .submit-btn{
    width: 50%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: white;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    margin-top: 20px;       
    border: none;
    

}

.container form .submit-btn a{
    text-decoration: none;
    width: 100%;
    padding: 12px;
    font-size: 17px;
    margin-top: 5px;
  
}
.container form .submit-btn:hover{
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px #27ae60;
}

.container i{
    position: relative;
    bottom: 35px;    
    font-size: 15px;
    color: #555555;
    left: 10px;
}
.container form  .payment-logo{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: #27ae60;
    border-radius: 50%;
    box-shadow: 0 0 5px;
    text-align: center;
    line-height: 85px;
}
.container form  .payment-logo::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.container form .row .col .payment-logo p{
    color: white;
    position: relative;
    font-size: 55px;
}
input{
    caret-color: #27ae60;
}
input::placeholder {
    color: #999;
}




@media only screen and (min-width: 380px) and (max-width: 768px) {
    .menu-btn {
        display: block;
        z-index: 999;
      }
    
      .menu-btn i.active::before {
        content: "\f00d";
      }
    
      .navbar {
        width: 100%;
        height: 50px;
      }
      .navbar .logo {
        width: 120px;
        height: inherit;
        margin-left: 15px;
      }
      .navbar .logo img {
        height: inherit;
        width: inherit;
      }
    
      .navbar .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        bottom: 0;
        background-color: #055423;
        text-align: center;
        transition: all 0.3s ease;
      }
      .navbar .menu.active {
        padding: 0;
        padding-top: 80px;
        left: 0;
      }
    
      .navbar .menu li {
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
    
      .navbar .menu li a {
        margin: 10px 0;
        font-size: 25px;
      }

    .container{
        padding: 15px;
    
    }
    .container form .row {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 255px;
        margin-bottom: 250px;
    }

    .container form .row .col{
        /* margin-bottom: 50%; */
    }
   
    
}

@media only screen and (min-width: 768px) and (max-width: 1043px) {
    .menu-btn {
        display: block;
        z-index: 999;
      }
    
      .menu-btn i.active::before {
        content: "\f00d";
      }
    
      .navbar {
        width: 100%;
        height: 60px;
      }
      .navbar .logo {
        width: 120px;
        height: inherit;
        margin-left: 15px;
      }
      .navbar .logo img {
        height: inherit;
        width: inherit;
      }
    
      .navbar .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        bottom: 0;
        background-color: #055423;
        text-align: center;
        transition: all 0.3s ease;
      }
      .navbar .menu.active {
        padding: 0;
        padding-top: 80px;
        left: 0;
      }
    
      .navbar .menu li {
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
    
      .navbar .menu li a {
        margin: 10px 0;
        font-size: 25px;
      }
     
}
