*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;

}

body{
   
    background-color: #27ae60;
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
}
a:hover{
    color: #4070F4;
}
.slide-container{
    margin: 0 80px;
    overflow: hidden;
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card {
    cursor:text;
    height: 50%;
    width: 50%;
    border-radius: 25px;
    background-color: whitesmoke;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: darkgreen;
    border-radius: 25px 25px 0 25px;

}

.overlay::before, .overlay::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: greenyellow;

}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: lightgreen;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: whitesmoke;
    padding: 3px;
 
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit:fill;
    border-radius: 50%;
    border: 4px solid lawngreen;

}

.name{
    font-size: 30px;
    font-weight: bolder;
    color: green;
}

.description{
    font-size: 22px;
    font: bold;
    color: black;
    text-align: center;
    padding: 10px;
}

.swiper-navBtn{
    color: #fff;
    margin: 20px;
}


.swiper-navBtn:hover{
    color: #3d71ff;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 35px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
     background-color: #fff;
     opacity: 1;
}
.swiper-pagination-bullet-active{
      background-color: #4070F4;
}



@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 10px;
}


}