@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0px;
  background-color: #4caf50;
}

/* head */

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5%;
  padding-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 80px;
  z-index: 999;
}

.navbar .logo {
  width: 150px;
  height: 80px;
}
.navbar .logo img {
  width: 150px;
  height: 80px;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  margin-left: 20px;
  color: white;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  font-size: 20px;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 13px;
  border-radius: 3px;
}

.navbar .menu li a.active,
.navbar .menu li a:hover {
  background-color: white;
  color: #27ae60;
}

.navbar .menu li a i {
  color: #055423;
}
.navbar .menu li a i:hover {
  color: #055423;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.first-btn {
  display: inline-block;
  background-color: #ffffff;
  color: #4caf50;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
}
.first-btn:hover {
  background-color: #27ae60;
  color: #ffffff;
  box-shadow: 0 0 0 4px #fff, 0 0 0 8px #27ae60;
}

#second-btn button {
  text-decoration: none;
  border: none;
  background: #4caf50;
  padding: 16px 30px;
  color: #fff;
  border-radius: 6px;
  transition: 0.2s;
}

#second-btn button:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 8px #27ae60;
}

h1 {
  font-size: 32px;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.load {
  animation: slide 20s;
  background-size: cover;
  background: no-repeat;
  opacity: 20px;
}
.main-content {
  height: 739px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide 40s infinite;
  /* background-attachment: scroll; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center top; */
  /* -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover; */
}

.main-content h2 {
  font-size: 48px;
  margin: 0;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 24px;
  margin: 0;
  margin-bottom: 30px;
}
.content {
  text-align: center;
  color: #ffffff;
  background-color: #ffffff02;
  backdrop-filter: blur(3px);
  border-radius: 20px;
  padding: 20px;
}

/* @keyframes slide {
  0% {
    background-image: url(/./img/technology-particle-dots-5g-digital-corporate-background.jpg);
    background-size: cover; 
  }
  50% {
    background-image: url(/./img/futuristic-smart-city-with-5g-global-network-technology.jpg);
    background-size: cover;
  }
  100% {
    background-image: url(/./img/background-shop.jpg);
     background-size: cover; 
  }
}  */

@keyframes slide {
  0% {
    background-image: url(/./img/21239.jpg);
    background-size: cover;
  }
  20% {
    background-image: url(/./img/23324.jpg);
    background-size: cover;
  }
  30% {
    background-image: url(/./img/futuristic-smart-city-with-5g-global-network-technology.jpg);
    background-size: cover;
  }
  40% {
    background-image: url(/./img/pexels-pixabay-256102.jpg);
    background-size: cover;
  }
  50% {
    background-image: url(/./img/SL-091319-23410-12.jpg);
    background-size: cover;
  }
  60% {
    background-image: url(/./img/technology-particle-dots-5g-digital-corporate-background.jpg);
    background-size: cover;
  }
  70% {
    background-image: url(/./img/telecommunications-towers-against-cloudy-sky.jpg);
    background-size: cover;
  }
  80% {
    background-image: url(/./img/technology-particle-dots-5g-digital-corporate-background.jpg);
    background-size: cover;
  }
  100% {
    background-image: url(/./img/futuristic-smart-city-with-5g-global-network-technology.jpg);
    background-size: cover;
  }
}

.why-cls-frame {
  background-color: #4caf50;
  color: white;
  max-width: 100%;

  padding: 38px;
}
.why-cls-frame h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.reasons-box {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  flex-basis: 30%;
}

.reasons-box h3 {
  font-size: 24px;
  margin-top: 0;
}

.reasons-box p {
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
}
.reasons {
  border-top: 2px solid #fff;
  margin-right: 20px;
  padding: 20px;
}
.reasons:first-child {
  border: none;
}

#secondframe {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
}
#secondframe h2 {
  font-size: 1.8em;
  color: #27ae60;
  padding: 20px;
  text-align: center;
}
#features-box {
  display: flex;
  justify-content: space-evenly;
}
.features {
  padding-top: 20px;
  padding: 20px;
  width: 400px;
  box-shadow: 12px 7px 12px #27ae60;
  border-top: none;
}
.features h3 {
  color: #27ae60;
  font-weight: 900;
  font-size: 1.5em;
}
.mobile-icon,
.IT-icon,
.super-icon {
  text-align: center;
}
.super-icon i {
  font-size: 60px;
  display: block;
  margin-bottom: 40px;
  color: #4caf50;
}
.IT-icon i {
  font-size: 60px;
  display: block;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #4caf50;
}
.mobile-icon i {
  font-size: 70px;
  display: block;
  margin-bottom: 40px;
  color: #4caf50;
}

.Everything-5G {
  padding: 40px;
}
.Everything-5G p {
  color: white;
  font-weight: lighter;
}
.Everything-5G span {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.router-photo-frame {
  display: flex;
  max-width: 100%;
  background-color: white;
}
.router-photo-frame h2,
h3 {
  color: #4caf50;
}

.float-img {
  margin-top: 30px;
  width: 40%;
  height: auto;
  padding: 50px;
  transform: translate(0px);
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}

.router-text {
  margin-left: 40px;
  padding: 20px;
}

.phones-comp {
  color: white;
  padding: 40px;
}
.phones-comp h3 {
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

/* responsiveness */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active::before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: #055423;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: flex;
    justify-content: center;
  }

  .navbar .menu li a {
    margin: 10px 0;
    font-size: 25px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active::before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: #055423;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: flex;
    justify-content: center;
  }

  .navbar .menu li a {
    margin: 10px 0;
    font-size: 25px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active::before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: #055423;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: flex;
    justify-content: center;
  }

  .navbar .menu li a {
    margin: 10px 0;
    font-size: 25px;
  }
}
